.container {
  background-image: url("Images/css-images/222.jpg");
  background-color: rgb(77, 67, 67);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 1;
}

.formcontainer {
  background-color: #f1f7fd;
  background-size: cover;
  border-radius: 0.25rem;
  border-color: rgba(0, 0, 0, 0.125);
  opacity: 1;
}

.formtext {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #e8f0fe;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.formtext :hover {
  border: 1px solid #013263;
  background-color: yellow;
}

.formbutton {
  display: block;
  width: 50%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ebeff3;
  background-color: #2996cc;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
